input[type:text] {
  -webkit-appearance: none;
  padding: 0;
  height: 30px;
  position: relative;
  margin: 0 auto;
  outline: none;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  font-size: 16px;
}

p {
  font-size: 30px;
}
