<html>
  <head>

  </head>

  <body>
    <p>The generated answer is <%= answer %></p>
    <form>
      <p>
        Gimme a letter:
        <input type="text" name="guess" />
      </p>
      <input type="submit" value="Go for it" />
    </form>

    <p>The guess was <%= letter %></p>
    <p>The correct indices are <%= indices %></p>
    <p>The word string is <%= string %></p>
  </body>
</html>
