<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('/styles/styles.css') %>" />
  </head>

  <body>
    <h1>Whoops ya lost.</h1>
    <p>The answer was <strong><%= session[:answer] %></strong></p>
    <p>By <a href="https://charlesharri.es">me.</a></p>
  </body>
</html>
