<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('/styles/styles.css') %>" />
  </head>

  <body>
    <h1>You won!</h1>
    <p>The answer was <strong><%= session[:answer] %></strong></p>
    <p>This page was made by <a href="https://charlesharri.es">me.</a></p>
  </body>
</html>
