<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('/styles/styles.css') %>" />
  </head>

  <body>
    <h1>You won the motherfucking hangman game.</h1>
    <p>The answer was <strong><%= session[:answer] %></strong></p>
    <h3>This website is <em>also</em> fucking satire, you fuck</h3>
    <p>I'll be the first one to admit that the web is full of big pages that don't work on old computers. We all gotta pull our weight and fix this shit.</p>
    <blockquote>"The web isn't for anyone; it's for everyone." -some fuck</blockquote>
    <h2>Epilogue</h2>
    <p>Inspired by the geniuses behind <a href="http://bettermotherfuckingwebsite.com">bettermotherfuckingwebsite.com</a> and <a href="http://txti.es.com">txti</a>.</p>
    <p>This page was made by <a href="https://www.github.com/charlesharries">me.</a></p>
  </body>
</html>
